################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/3e31b925-e961-4366-9f8c-00de52f0655f.vsidx
/.gitignore
/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/51dbc576-de95-4ac3-8c66-dc0acb46bf6f.vsidx
/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/619af01f-3e8a-435d-8347-476efb20f7a0.vsidx
/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/847ca200-ae54-4545-8fa1-cffaebd83b61.vsidx
/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/9683418a-1018-4530-af84-c0a533838bf8.vsidx
/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/f1443c2a-1515-4f68-8ced-9aca13c91183.vsidx
/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/d36d62cd-9b25-4273-adbd-5c99e3577a6e.vsidx
/fizzbuzz_Python/.vs/fizzbuzz_Python/v17/.suo
/RAR_Python/.vs/RAR_Python/v17/.suo
/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/51dbc576-de95-4ac3-8c66-dc0acb46bf6f.vsidx
/fizzbuzz_Python/.vs/fizzbuzz_Python/FileContentIndex/51dbc576-de95-4ac3-8c66-dc0acb46bf6f.vsidx
